<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="Login_TimeOut" value="1800" />
	</appSettings>
	<dataConfiguration defaultDatabase="AzManLoginDatabase" />
	<connectionStrings>
		<add connectionString="Data Source=PCGAMER\SQL2K14,1433; Initial Catalog=AzMan; User Id=secman; Password=sisepuede" name="AzManLoginDatabase" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="False" />
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IDirectService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://logindemo.sise.edu.pe:8181/AzManWebServices/DirectService.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDirectService"
			 contract="DirectSvcRef.IDirectService" name="BasicHttpBinding_IDirectService" />
		</client>
	</system.serviceModel>
</configuration>