<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add connectionString="Data Source=172.22.1.21; Initial Catalog=AzMan; User Id=secman; Password=sisepuede" name="AzManLoginDatabase" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="Off" xdt:Transform="Replace" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="False" httpsGetEnabled="False" xdt:Transform="Replace" />
					<serviceDebug includeExceptionDetailInFaults="True" xdt:Transform="Replace" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" xdt:Transform="Replace" />
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IDirectService" xdt:Transform="Replace"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://login.sise.edu.pe:8181/AzManWebServices/DirectService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDirectService" contract="DirectSvcRef.IDirectService" name="BasicHttpBinding_IDirectService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		</client>
	</system.serviceModel>
</configuration>