<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<!--:::::::Begin NetSqlAzMan.CustomBussinessLogic:::::::-->
		<!--for Data Access-->
		<add key="AzMan_CustomBusinessLogic_DbConnection" value="Data Source=.\SQL2K14;Initial Catalog=AzMan_MS_CI_AI_CF;User Id=secman; Password=secman; Persist Security Info=True; App=NetSqlAzMan.CustomBussinessLogic.TestUI;" />
		<!--for WebApiClientHelpers-->
		<add key="AzMan_CustomBusinessLogic_WebApiClient_RequestTimeout" value="300" />
		<add key="AzMan_CustomBusinessLogic_WebApiClient_MaxResponseContentBufferSize" value="1048576" />
		<!--:::::::End NetSqlAzMan.CustomBussinessLogic:::::::-->
	</appSettings>
	<connectionStrings>
		<add name="AzManEntities" connectionString="metadata=res://*/EF.AzManModel.csdl|res://*/EF.AzManModel.ssdl|res://*/EF.AzManModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--**** AzManEntitiesTemp: Solo para tiempo de diseño *****-->
		<add name="AzManEntitiesTemp" connectionString="metadata=res://*/EF.AzManModel.csdl|res://*/EF.AzManModel.ssdl|res://*/EF.AzManModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2K14,1433;initial catalog=AzManLdap;user id=secman;password=secman;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ILDAPHelper" />
				<binding name="BasicHttpBinding_ILDAPHelper1">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:448/_rootvb/LDAPProxyWebSvc/LDAPHelper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILDAPHelper" contract="LDAPHelperSvcRef.ILDAPHelper" name="BasicHttpBinding_ILDAPHelper" />
			<endpoint address="https://pcgamer/_rootvb/LDAPProxyWebSvc/LDAPHelper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILDAPHelper1" contract="LDAPHelperSvcRef.ILDAPHelper" name="BasicHttpBinding_ILDAPHelper1" />
		</client>
	</system.serviceModel>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>