<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<!--VBastidas: Falta implementar el proceso de expiración del Cache 
		para que pueda volver a regenerarse-->
		<add key="expirationValue" value="0 1 0 0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- days hours minutes seconds -->
		<add key="StoreNameFilter" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Syntax "Store1;Store" or leave empty for all Stores -->
		<add key="ApplicationNameFilter" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Syntax "Application1;Application" or leave empty for all Applications -->
		<add key="WCFCacheServicePartners" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- WCF Cache Service Partners (Endpoint1;Endpoint2;...); Invalidate Cache will be invoked on all other partners -->
		<!-- net.tcp://otherserver1:8000/NetSqlAzMan.Cache.Service/CacheService/;net.tcp://otherserver2:8000/NetSqlAzMan.Cache.Service/CacheService/-->
		<!-- leave empty if no ServicePartners -->
		<add key="AsyncCacheBuilding" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ClientSettingsProvider.ServiceUri" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="NetSqlAzManStorageCacheConnectionString" connectionString="Data Source=172.22.1.21; Initial Catalog=AzMan; User Id=secman; Password=sisepuede" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>