<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<!--VBastidas: Falta implementar el proceso de expiración del Cache 
		para que pueda volver a regenerarse-->
		<add key="expirationValue" value="0 1 0 0" />
		<!-- days hours minutes seconds -->
		<add key="StoreNameFilter" value="" />
		<!-- Syntax "Store1;Store" or leave empty for all Stores -->
		<add key="ApplicationNameFilter" value="" />
		<!-- Syntax "Application1;Application" or leave empty for all Applications -->
		<add key="WCFCacheServicePartners" value="" />
		<!-- WCF Cache Service Partners (Endpoint1;Endpoint2;...); Invalidate Cache will be invoked on all other partners -->
		<!-- net.tcp://otherserver1:8000/NetSqlAzMan.Cache.Service/CacheService/;net.tcp://otherserver2:8000/NetSqlAzMan.Cache.Service/CacheService/-->
		<!-- leave empty if no ServicePartners -->
		<add key="AsyncCacheBuilding" value="false" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="NetSqlAzManStorageCacheConnectionString" connectionString="Data Source=172.22.3.177\SQL2K14,1434; Initial Catalog=AzMan; User Id=secman; Password=sisepuede" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ILdapHelper" maxReceivedMessageSize="5242880" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://logindemo.sise.edu.pe:8181/LDAPProxyWebSvc/LdapHelper.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILdapHelper"
			 contract="LdapHelperSvcRef.ILdapHelper" name="SiseLoginServer_BasicHttpBinding" />
			<endpoint address="http://172.45.12.136:8181/LDAPProxyWebSvc/LdapHelper.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILdapHelper"
			 contract="LdapHelperSvcRef.ILdapHelper" name="UniversidadServer_BasicHttpBinding" />
		</client>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse showFlags="Date, Time, Size, Extension, LongDate" />
		<defaultDocument enabled="false"></defaultDocument>
	</system.webServer>
</configuration>