<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<add key="AzManConnection" value="data source=.\SQL2K14; initial catalog=AzMan_MS_CI_AI; user id=secman; password=secman;" />
	</appSettings>
	<connectionStrings>
		<add name="AzManLinqToClasses" connectionString="{0}" providerName="System.Data.SqlClient" />
		<add name="AzManEntitiesDesign" connectionString="data source=.\sql2k14;initial catalog=AzMan_MS_CI_AI_CF;persist security info=True;user id=sa;password=17011981;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<!--**** Conexión en Tiempo de Diseño ****-->
		<add name="AzManEntities" connectionString="metadata=res://*/EFCF.EF.AzManModel.csdl|res://*/EFCF.EF.AzManModel.ssdl|res://*/EFCF.EF.AzManModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2K14;initial catalog=AzMan_MS_CI_AI;user id=secman;password=secman;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="AzManEntitiesDesingTime" connectionString="metadata=res://*/EF.AzManModel.csdl|res://*/EF.AzManModel.ssdl|res://*/EF.AzManModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2K14;initial catalog=AzMan_MS_CI_AI;user id=secman;password=secman;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>