<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<!-- NETSQLAZMAN - ACTIVE DIRECTORY QUERIES-->
		<add key="RootDSEPath" value="DUMMY" />
		<!-- i.e.: "LDAP://DC=Domain,DC=local"; leave blank for default naming context -->
		<!-- Active Directory LookUp Account to resolve SID of Domain User Accounts; leave blank to use Client User Identity -->
		<add key="Active Directory LookUp Username" value="basgosoft\viko" />
		<add key="Active Directory LookUp Password" value="17011981V1k0" />
		<!--************************************************-->
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--*****************************************************-->
		<add key="WebApp_Name" value="AzMan Web Api" />
		<!--:::::::Begin NetSqlAzMan.CustomBussinessLogic:::::::-->
		<!--for Data Access-->
		<add key="AzMan_CustomBusinessLogic_DbConnection" value="Data Source=.\SQL2K14;Initial Catalog=AzMan_MS_CI_AI_CF;User Id=secman; Password=secman; Persist Security Info=True; App=AzManStructureMgtWebApi;" />
		<!--for WebApiClientHelpers-->
		<add key="AzMan_CustomBusinessLogic_WebApiClient_RequestTimeout" value="300" />
		<add key="AzMan_CustomBusinessLogic_WebApiClient_MaxResponseContentBufferSize" value="1048576" />
		<!--:::::::End NetSqlAzMan.CustomBussinessLogic:::::::-->
	</appSettings>
	<connectionStrings />
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />
		<httpModules>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<system.webServer>
		<!--<security>
      <requestFiltering>
        <requestLimits>          
        </requestLimits> 
      </requestFiltering>
    </security>-->
		<handlers>
			<remove name="WebDAV" />
			
			
			
			
		<remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="WebDAVModule" />
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<!--LDAP PROXY WEB SERVICE **************************-->
			<basicHttpBinding>
				<binding name="BasicHttpsBinding_ILDAPHelper" maxReceivedMessageSize="20971520" receiveTimeout="00:02:10" sendTimeout="00:02:10">
					<security mode="Transport" />
				</binding>
				<binding name="BasicHttpBinding_ILDAPHelper" maxReceivedMessageSize="20971520" receiveTimeout="00:02:10" sendTimeout="00:02:10" />
			</basicHttpBinding>
			<!--**************************************************-->
		</bindings>
		<client>
			<!--LDAP PROXY WEB SERVICE **************************-->
			<!--LANPERU: El name:LENPERU_LDAPSvcEndPoint debe estar registrado en la BD AzMan-->
			<endpoint address="https://back01.pe.lan.com/_rootvb/LDAPProxyWebSvc/LDAPHelper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILDAPHelper" contract="LDAPHelperSvcRef.ILDAPHelper" name="LENPERU_LDAPSvcEndPoint" />
			<!--HOLDING: El name:HOLDING_LDAPSvcEndPoint debe estar registrado en la BD AzMan-->
			<endpoint address="https://back01.pe.lan.com/_rootvb/LDAPProxyWebSvc/LDAPHelper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILDAPHelper" contract="LDAPHelperSvcRef.ILDAPHelper" name="HOLDING_LDAPSvcEndPoint" />
			<!--BASGOSOFT: El name:BASGOSOFT_LDAPSvcEndPoint debe estar registrado en la BD AzMan-->
			<endpoint address="https://localhost/_rootvb/LDAPProxyWebSvc/LDAPHelper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILDAPHelper" contract="LDAPHelperSvcRef.ILDAPHelper" name="BASGOSOFT_LDAPSvcEndPoint" />
			<!--**************************************************-->
		</client>
	</system.serviceModel>
</configuration>