<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<!-- DEFAULT VALUES -->
		<!-- Default Data Source: leave blank for local IIS server name -->
		<add key="Default Data Source" value="172.22.3.177\SQL2K14,1434" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Default DB Storage name -->
		<add key="Default Initial Catalog" value="AzMan" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Default SQL User" value="secman" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Default SQL User Password" value="sisepuede" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- CHECK FOR UPDATE -->
		<add key="ShowSplashScreen" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- true to check for WebConsole update-->
		<add key="Check For Update" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- ACTIVE DIRECTORY -->
		<add key="RootDSEPath" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- i.e.: "LDAP://DC=Domain,DC=local"; leave blank for default naming context -->
		<!-- Active Directory LookUp Account to resolve SID of Domain User Accounts; leave blank to use Client User Identity -->
		<add key="Active Directory LookUp Username" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Active Directory LookUp Password" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>