<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Rdbms">
      <section name="Provider" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="DataStorage">
      <section name="Network" type="System.Configuration.NameValueSectionHandler" />
      <section name="Credential" type="System.Configuration.NameValueSectionHandler" />
      <section name="Performance" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="SecurityStorage">
      <section name="Network" type="System.Configuration.NameValueSectionHandler" />
      <section name="Credential" type="System.Configuration.NameValueSectionHandler" />
      <section name="Performance" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="ExceptionReporter">
      <section name="Contact" type="System.Configuration.NameValueSectionHandler" />
      <section name="TabsToShow" type="System.Configuration.NameValueSectionHandler" />
      <section name="Email" type="System.Configuration.NameValueSectionHandler" />
      <section name="LabelMessages" type="System.Configuration.NameValueSectionHandler" />
      <section name="UserInterface" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <Rdbms>
    <Provider>
      <add key="Type" value="MsSql" />
    </Provider>
  </Rdbms>
  <DataStorage>
    <Network>
      <add key="DataSource" value="172.22.1.21" />
      <add key="InitialCatalog" value="master" />
    </Network>
    <Credential>
      <add key="IntegratedSecurity" value="True" />
      <add key="UserId" value="" />
      <add key="Password" value="4MeNbq3DsE6J6VzO6waBJQ==" />
    </Credential>
    <Performance>
      <add key="ConnectionTimeOut" value="10" />
      <add key="CommandTimeOut" value="120" />
    </Performance>
  </DataStorage>
  <SecurityStorage>
    <Network>
      <add key="DataSource" value=".\sql2k14,1433" />
      <add key="InitialCatalog" value="azmanldap" />
    </Network>
    <Credential>
      <add key="IntegratedSecurity" value="False" />
      <add key="UserId" value="secman" />
      <add key="Password" value="oqr8UEsII2kaVrot8GRkPA==" />
    </Credential>
    <Performance>
      <add key="ConnectionTimeOut" value="10" />
      <add key="CommandTimeOut" value="60" />
    </Performance>
  </SecurityStorage>
  <ExceptionReporter>
    <Contact>
      <add key="email" value="victor.bastidas@outlook.com" />
      <add key="web" value="basgosoft.homedns.org" />
      <add key="phone" value="98 102*1739" />
      <add key="fax" value="(No disponible)" />
    </Contact>
    <TabsToShow>
      <add key="exceptions" value="True" />
      <add key="assemblies" value="True" />
      <add key="config" value="True" />
      <add key="system" value="true" />
      <add key="contact" value="true" />
    </TabsToShow>
    <Email>
      <add key="method" value="MAPI" />
      <add key="SmtpServer" value="" />
      <add key="SmtpUsername" value="???" />
      <add key="SmtpPassword" value="4MeNbq3DsE6J6VzO6waBJQ==" />
      <add key="from" value="sistemas@oxyservice.com.pe" />
      <add key="to" value="victor.bastidas@hotmail.com" />
    </Email>
    <LabelMessages>
      <add key="general" value="Un error ha sido interceptado. Puedes enviar la información del mismo por correo electónico." />
      <add key="explanation" value="Por favor, ingresa una corta reseña de lo que ha pasado." />
      <add key="ContactTop" value="El número telefónico puede ser usado para obtener soporte para etse software" />
      <add key="ContactBottom" value="..............." />
    </LabelMessages>
    <UserInterface>
      <add key="ShowFlatButtons" value="False" />
      <add key="ShowButtonIcons" value="True" />
      <add key="TitleText" value="Reporte de errores" />
      <add key="TakeScreenshot" value="True" />
      <add key="UserExplanationFontSize" value="11" />
    </UserInterface>
  </ExceptionReporter>
</configuration>