<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AzManAspNetIdentity_WebApiClient_EndPointUri" value=" http://localhost/_rootvb/AzManStructureMgtWebApi/" />
		<add key="AzManAspNetIdentity_WebApiClient_RequestTimeout" value="300" />
		<add key="AzManAspNetIdentity_WebApiClient_MaxResponseContentBufferSize" value="1048576" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>