<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AzManWinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<!-- ACTIVE DIRECTORY -->
		<!--<add key="RootDSEPath" value="LDAP://192.168.1.7" />-->
		<add key="RootDSEPath" value="" />
		<!-- i.e.: "LDAP://DC=Domain,DC=local"; leave blank for default naming context -->
		<!-- Active Directory LookUp Account to resolve SID of Domain User Accounts; leave blank to use Client User Identity -->
		<add key="Active Directory LookUp Username" value="basgosoft\viko" />
		<add key="Active Directory LookUp Password" value="" />
		<!--************************************************-->
		<add key="pwd" value="2OwyX+sbFNaYjjgvXm/ccRrYBHEmaw4Dg05AQzVhG3cCTsHI" />
		<add key="AzManAspNetIdentity_WebApiClient_RequestTimeout" value="300" />
		<add key="AzManAspNetIdentity_WebApiClient_MaxResponseContentBufferSize" value="1048576" />
		<add key="Notifications_ShowExceptionStackTrace" value="false" />
	</appSettings>
	<connectionStrings>
		<add name="AzManEntities2" connectionString="metadata=res://*/EF.AzManModel.csdl|res://*/EF.AzManModel.ssdl|res://*/EF.AzManModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="AzManEntities" connectionString="{0}" />
	</connectionStrings>
	<securityCryptographyConfiguration>
		<hashProviders>
			<add name="Shaman" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" />
		</hashProviders>
	</securityCryptographyConfiguration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<userSettings>
		<AzManWinUI.Properties.Settings>
			<setting name="ManagerUI_ListViewType" serializeAs="String">
				<value>Details</value>
			</setting>
			<setting name="ManagerUI_TreeNodeSize" serializeAs="String">
				<value>Large</value>
			</setting>
			<setting name="ManagerUI_AuthorizationView" serializeAs="String">
				<value>Role</value>
			</setting>
			<setting name="ManagerUI_Culture" serializeAs="String">
				<value>es</value>
			</setting>
			<setting name="ManagerUI_StructureView" serializeAs="String">
				<value>Role</value>
			</setting>
		</AzManWinUI.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ILDAPHelper" />
				<binding name="BasicHttpsBinding_ILDAPHelper" maxReceivedMessageSize="5242880" openTimeout="00:00:03" sendTimeout="00:00:30" receiveTimeout="00:00:05" closeTimeout="00:00:03">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://logindemo.sise.edu.pe:8181/LDAPWebSvc/LdapHelper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILDAPHelper" contract="LDAPHelperSvcRef.ILDAPHelper" name="InstitutoServer_BasicHttpsBinding" />
			<endpoint address="https://login.universidad.edu.pe:8181/LDAPWebSvc/LdapHelper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILDAPHelper" contract="LDAPHelperSvcRef.ILDAPHelper" name="UniversidadServer_BasicHttpsBinding" />
			<endpoint address="https://localhost/_rootvb/LDAPProxyWebSvc/LDAPHelper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILDAPHelper" contract="LDAPHelperSvcRef.ILDAPHelper" name="BasicHttpsBinding_ILDAPHelper" />
		</client>
	</system.serviceModel>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.11.0.0" newVersion="1.11.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.3.0" newVersion="5.5.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>