<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--
	Nota:
	Cualquier cambio en este archivo de configuracón requiere 
	que se ejecute la siguiente sentencia en el servidor SQL Server 
	para que el assembly se descargue y vuelva cargase con la nueva 
	configuración.
	
	DBCC FREESYSTEMCACHE('ALL')
	-->
	<appSettings>
		<add key="AzManLoginWebServices.LoginService.Url" value="http://logindemo.sise.edu.pe:8181/AzManLoginWebServices/LoginService.svc"/>
	</appSettings>
	<connectionStrings>
		<!--NO BORRAR ESTA CADENA DE CONEXION-->
		<add name="temp" connectionString="..."/>
	</connectionStrings>
</configuration>