<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AzManWinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- ACTIVE DIRECTORY -->
		<add key="RootDSEPath" value="LDAP://dc=pe,dc=lan,dc=com" />
		<!-- i.e.: "LDAP://DC=Domain,DC=local"; leave blank for default naming context -->
		<!-- Active Directory LookUp Account to resolve SID of Domain User Accounts; leave blank to use Client User Identity -->
		<add key="Active Directory LookUp Username" value="LANPERU\usr_ext01" />
		<add key="Active Directory LookUp Password" value="L4t4m2018" />
		<!--************************************************-->
		<add key="pwd" value="2OwyX+sbFNaYjjgvXm/ccRrYBHEmaw4Dg05AQzVhG3cCTsHI"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<securityCryptographyConfiguration>
		<hashProviders>
			<add name="Shaman" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true"/>
		</hashProviders>
	</securityCryptographyConfiguration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<userSettings>
		<AzManWinUI.Properties.Settings>
			<setting name="ManagerUI_ListViewType" serializeAs="String">
				<value>Details</value>
			</setting>
			<setting name="ManagerUI_TreeNodeSize" serializeAs="String">
				<value>Large</value>
			</setting>
			<setting name="ManagerUI_AuthorizationView" serializeAs="String">
				<value>RoleTask</value>
			</setting>
			<setting name="ManagerUI_Culture" serializeAs="String">
				<value>es</value>
			</setting>
			<setting name="ManagerUI_StructureView" serializeAs="String">
				<value>RoleTask</value>
			</setting>
		</AzManWinUI.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ILDAPHelper" />
				<binding name="BasicHttpsBinding_ILDAPHelper" maxReceivedMessageSize="5242880" openTimeout="00:00:03" sendTimeout="00:00:30" receiveTimeout="00:00:05" closeTimeout="00:00:03" >
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://logindemo.sise.edu.pe:8181/LDAPWebSvc/LdapHelper.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILDAPHelper"
			 contract="LDAPHelperSvcRef.ILDAPHelper" name="InstitutoServer_BasicHttpsBinding" />

			<endpoint address="https://login.universidad.edu.pe:8181/LDAPWebSvc/LdapHelper.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILDAPHelper"
			 contract="LDAPHelperSvcRef.ILDAPHelper" name="UniversidadServer_BasicHttpsBinding" />

			<endpoint address="https://localhost/_rootvb/LDAPProxyWebSvc/LDAPHelper.svc"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILDAPHelper"
			 contract="LDAPHelperSvcRef.ILDAPHelper" name="BasicHttpsBinding_ILDAPHelper" />
		</client>
	</system.serviceModel>
</configuration>