<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ILoginService" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://logindemo.sise.edu.pe:8181/AzManLoginWebServices/LoginService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService"
    contract="LoginSvcRef.ILoginService" name="BasicHttpBinding_ILoginService" />
  </client>
	</system.serviceModel>
</configuration>